form.commentForm(onSubmit=handleSubmit)
  input(type="text", placeholder="Your name", ref="author")
  input(type="text", placeholder="Say something...", ref="text")
  input(type="submit", value="post")
